* {
    /* font-family: "JetBrains Mono Nerd Font ", Roboto, Arial, sans-serif; */
    font-family: "SFUIDisplay-Regular", Roboto, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background: transparent; /* Makes the bar look floating */
}

/* Individual Module Styling */
#workspaces, #window, #clock, #network, #cpu, #memory, #pulseaudio, #battery, #tray, #bluetooth, #backlight, #custom-applist {
    color: #e8e8e8;
    border-radius: 10px;
    background: transparent;
    padding: 2px 10px;
    /* margin: 5px 3px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
}

#workspaces {
    margin: 0px;
    padding: 0px;
    background: transparent;
    box-shadow: none;
}

#workspaces button {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    border-bottom: 2px #b4b4b4 solid;
    background: transparent;
    color: #ffffff;
}

#workspaces button:not(.active) {
    background: transparent;
    color: #dddddd;
}

#workspaces button:hover {
    color: #ffffff;
}

#tray {
    background-color: #a2a4cd;
}

#pulseaudio {
    padding: 4px 10px;
    font-weight: bold;
}
window#waybar.empty #windowcount {
    background: darkred;
}

@keyframes blinkBattery {
    to {
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
}

#battery.charging {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: blinkBattery 1s ease-in-out infinite alternate;
}

#battery.critical:not(.charging) {
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: rgba(235, 71, 71, 1);
        color: #ffffff;
    }
}

#workspaces button.urgent {
    color: #eb4747;
    background-color: rgba(235, 71, 71, 0.2);
    animation: blink 0.5s linear infinite alternate;
}